# Configuración de MySQL en la nube (Aiven)
DB_HOST=mysql-solosena2025-9541.k.aivencloud.com
DB_PORT=18465
DB_USER=avnadmin
DB_PASSWORD=tu_password_aqui
DB_NAME=defaultdb
DB_SSL_MODE=REQUIRED
#"AVNS_1go-ieutOGX33xxv87U"