<div class="contenedor_principal">
  <div class="superior">
    <div class="content_mensaje">
      <div class="circle circle1"></div>
      <div class="circle circle2"></div>
      <div class="circle circle3"></div>
      <div class="circle circle4"></div>
      <div class="circle circle5"></div>
    </div>
  </div>
  <div class="inferior">
  
  </div>
  <div class="content_float">
    <div class="contenedor2">
      <div class="div" style="background-color: transparent;">
        <div class="card shadow" style="width:500px;">
          <div class="card-header bg-white">
            <h5 class="text-center">
              <span class="main-title">Ingrese sus credenciales</span><br>
              <span class="main-title">de ingreso</span>
            </h5>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit()">
              <div class="mb-2">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="bi bi-person"></i>
                    </span>
                  </div>
                  <input type="text" class="form-control" id="email" [(ngModel)]="user.email" name="email"
                    placeholder="Correo electrónico">
                </div>
              </div>
              <div class="mb-3 position-relative">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="bi bi-lock"></i>
                    </span>
                  </div>
                  <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="contrasena"
                    [(ngModel)]="user.contrasena" name="contrasena" placeholder="Contraseña">
                  <div class="input-group-append">
                    <span class="input-group-text eye-icon" style="cursor: pointer;"
                      (click)="togglePasswordVisibility()">
                      <i class="bi" [ngClass]="showPassword ? 'bi-eye' : 'bi-eye-slash'"></i>
                    </span>
                  </div>
                </div>
                <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
              </div>

              <button type="submit" class="btn btn-primary btn-sm d-block mx-auto">Ingresar</button>
              <div class="text-center mt-2">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>